<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/terapeutaLayout :: Head}"></head>

<body>

  <!--SIDEBAR-->
  <div th:replace="~{fragments/terapeutaLayout :: menuToggle}"></div>

  <nav th:replace="~{fragments/terapeutaLayout :: sidebarTerapeuta}"></nav>

  <div th:replace="~{fragments/terapeutaLayout :: overlay}"></div>

  <main class="content-area">
    <h2 class="paciente-title mb-4">🧍 Lista de Pacientes</h2>

    <div class="paciente-card d-flex align-items-center">
      <img th:src="@{/img/pacientes/avatar1.jpg}" alt="Paciente" class="paciente-avatar">

      <div>
        <h5 class="mb-1">Alan Aguilera</h5>
        <p class="mb-0">Edad: 7 años - Última sesión: 05/06/2025</p>
      </div>
    </div>

    <div class="paciente-card d-flex align-items-center">
      <img th:src="@{/img/avatar2.jpg}" alt="Paciente" class="paciente-avatar">
      <div>
        <h5 class="mb-1">María López</h5>
        <p class="mb-0">Edad: 6 años - Última sesión: 03/06/2025</p>
      </div>
    </div>

    <div class="paciente-card d-flex align-items-center">
      <img th:src="@{/img/avatar2.jpg}" alt="Paciente" class="paciente-avatar">
      <div>
        <h5 class="mb-1">Pedro Gómez</h5>
        <p class="mb-0">Edad: 8 años - Última sesión: 02/06/2025</p>
      </div>
    </div>

  </main>

    <div th:replace="~{fragments/terapeutaLayout :: terapeuta-scripts}"></div>
</body>
</html>
