<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  
<head>
  <title>Especialistas - ASHAKids</title>
  <style>
    .card-img-top {
      object-fit: cover;
      height: 250px;
    }
  </style>
</head>
<head th:replace="~{fragments/padreLayout :: Head}"></head>


<body class="bg-light">
   <!-- Sidebar -->
    <div th:replace="~{fragments/padreLayout :: sidebar}"></div>


  <!-- Título -->
  <div class="main-content">
    <h2 class="text-center mb-4">👩‍⚕️ Nuestro equipo de especialistas</h2>

    <!-- Fila de especialistas -->
    <div class="row g-4">

      <!-- Especialista 1 -->
      <div class="col-md-4">
        <div class="card shadow-sm h-100">
          <img src="https://media.istockphoto.com/id/1459782858/es/foto/joven-estudiante-universitaria-adulta-habla-con-su-compa%C3%B1ero.jpg?s=612x612&w=0&k=20&c=a8up44HQhaYYP-Q1DARH7B4NiZzVS0GcCgklWr00w-w=" class="card-img-top" alt="Lic. María López">
          <div class="card-body">
            <h5 class="card-title">Lic. María López</h5>
            <p class="card-text"><strong>Especialidad:</strong> Terapia de lenguaje</p>
            <p class="card-text">Enfocada en la comunicación en niños neurodivergentes y retrasos del habla.</p>
            <a href="#" class="btn btn-outline-primary w-100">Ver perfil</a>
          </div>
        </div>
      </div>

      <!-- Especialista 2 -->
      <div class="col-md-4">
        <div class="card shadow-sm h-100">
          <img src="https://media.istockphoto.com/id/2082304548/es/foto/individual-counselling.jpg?s=612x612&w=0&k=20&c=d5jo0QIEdq28C1AOsrzaVKsJeROpL_NiQY0LJVog26Y=" class="card-img-top" alt="Dr. Pedro Gómez">
          <div class="card-body">
            <h5 class="card-title">Dr. Pedro Gómez</h5>
            <p class="card-text"><strong>Especialidad:</strong> Psicología infantil</p>
            <p class="card-text">Apoya el desarrollo emocional y la regulación del comportamiento.</p>
            <a href="#" class="btn btn-outline-primary w-100">Ver perfil</a>
          </div>
        </div>
      </div>

      <!-- Especialista 3 -->
      <div class="col-md-4">
        <div class="card shadow-sm h-100">
          <img src="https://media.istockphoto.com/id/1395128697/es/foto/sesi%C3%B3n-de-psic%C3%B3logo.jpg?s=612x612&w=0&k=20&c=Mzv5uWI8binHAufrXE_1jdmEw5xEkAGof8rxPnTgrjk=" class="card-img-top" alt="Terapista Adriana Ruiz">
          <div class="card-body">
            <h5 class="card-title">Dra. Adriana Ruiz</h5>
            <p class="card-text"><strong>Especialidad:</strong> Terapia ocupacional</p>
            <p class="card-text">Ayuda a los niños a desarrollar habilidades motrices y sensoriales.</p>
            <a href="#" class="btn btn-outline-primary w-100">Ver perfil</a>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div th:replace="~{fragments/padreLayout :: padre-scripts}"></div>

</body>
</html>
